<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Omen\source\repos\HungarianTeacher\HungarianTeacher\TelegramBotDataBase.mdf;Integrated Security=True" name="TelegramBotDataBase"/>
	</connectionStrings>
</configuration>